[server]
port = 8080
js_check_enabled = true
js_token_secret = "<some secret value>"
# validation | validation_with_proxy
operation_mode = "validation"
log_level = "info"

skip_paths = [
  "/metrics",
  "/health",
  "/favicon.ico",
  "/static/",
  "/.well-known/",
  "/fantasma0/admin/"
]

skip_extensions = [
  ".css",
  ".js",
  ".png",
  ".jpg",
  ".svg",
  ".ico"
]

[admin]
user_name = "<change_me>"
password = "<change_me>"
cookie_validity_in_days = 3
base_path_prefix = "/fantasma0/admin"

[traps]
enabled = true
paths = ["/admin/backup", "/internal/stats"]
ttl_seconds = 1800
purge_interval = 300

[target]
origin_url = "http://localhost:8080"

[persistence]
backend = "sqlite"
sqlite_path = "fantasma0.db"


[pow_challenge]
# argon2 | sha256
algorithm = "sha256"

# TODO remove
difficulty = 4

base_difficulty = 2  # Changed from 4 (Argon2 time cost)
max_difficulty = 6   # Changed from 7 (Argon2 time cost)
cookie_duration_days = 14
rate_limit_window_minutes = 15
max_requests_per_window = 10
suspicion_threshold = 40
