{% extends "base.html" %} {% block title %}Index{% endblock title %} {% block content %}
<!--<div id="status" class="status"></div>-->

<section id="overview" class="panel">
    <h2>Overview</h2>

    <div class="metric-row">
        <span>Mode</span>
        <span id="m_mode"></span>
    </div>

    <div class="metric-row">
        <span>Uptime</span>
        <span id="m_uptime"></span>
    </div>

    <div class="metric-row">
        <span>RPS</span>
        <span id="m_rps"></span>
    </div>

    <div class="metric-row">
        <span>Blocked</span>
        <span id="m_blocked"></span>
    </div>

    <div class="metric-row">
        <span>Rate-limited</span>
        <span id="m_rate_limited"></span>
    </div>
</section>

<section id="traffic" class="panel">
    <h2>Traffic</h2>
    <div class="panel-body"></div>
</section>

<section id="pow" class="panel">
    <h2>PoW</h2>
    <div class="panel-body"></div>
</section>

<section id="recent" class="panel">
    <h2>Recent activity</h2>
    <div class="panel-body"></div>
</section>

<section id="suspicious" class="panel">
    <h2>Suspicious IPs</h2>
    <div class="panel-body"></div>
</section>
{% endblock content %}
